@using PSF.Dominio.Entities;
@model Usuario

@{
    ViewData["Title"] = "Inserir";
}
<form asp-action="InserirConfirmar" asp-controller="Usuario" method="POST" class="row g-3 needs-validation">
    <input asp-for="Esf.Nome" type="hidden" />
    <input asp-for="Esf.Enderecos" type="hidden" />
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">Nome Completo</label>
            <input type="text" asp-for="Nome" class="form-control" id="validationCustom01" required>
            @Html.ValidationMessageFor(x => x.Nome)
    <div class="valid-feedback">

            Bom!
    </div>
  </div>

  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">CPF</label>
            <input type="text" class="form-control" id="validationCustom02" asp-for="CPF" required>
        @Html.ValidationMessageFor(x => x.CPF)
        <span asp-validation-for="CPF" class="text-danger"></span>
    <div class="valid-feedback">

      Bom!
    </div>
  </div>

  <div class="col-md-4">
    <label for="validationCustomUsername" class="form-label">Email:</label>
    <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">
                
            </span>
            
                <input type="text" class="form-control" id="validationCustomUsername" asp-for="Email" required placeholder="exemplo: anamaria@gmail.com">
            

      <div class="invalid-feedback">
        Favor informe um e-mail de contato, esta informação será importante mais tarde.
      </div>
    </div>
  </div>


    <div class="col-md-4">
        <label for="validationCustom01" class="form-label">Senha</label>
        <input type="password" asp-for="Senha" class="form-control" id="validationCustom01" required>
        <div class="valid-feedback">

            Bom!
        </div>
    </div>

    <div class="grid text-center">
            <select asp-for="Perfil" class="form-select form-select-sm" aria-label="Small select example">
                <option selected>Selecione o perfil do usuário</option>
                <option value="@UsuarioTipo.Admin">Administrador</option>
                <option value="@UsuarioTipo.Padrao">Padrão</option>
            </select>       
    </div>
    <div class="grid text-center">
        <select asp-for="Status" class="form-select form-select-sm" aria-label="Small select example">
            <option selected>Status do usuário</option>
            <option value="true">Ativar</option>
            <option value="false">Desativar</option>
        </select>
    </div>

    <div class="col-md-4">
        <label for="validationCustom04" class="form-label">ESF</label>
        <select name="EsfId" class="form-select" id="validationCustom04" required>
            <option value="">Selecione o ESF...</option>
            @foreach (var esf in ViewBag.Esf)
            {
                var esfId = Convert.ToInt32(esf.Value);
                var esfNome = esf.Text;
                <option value="@esfId">@esfNome</option>
            }
        </select>

        <div class="invalid-feedback">
            Por favor, selecione uma cidade.
        </div>
    </div>


    <br />
    <div >
        
    </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Confirmar Cadastro</button>
    <a class="btn btn-secondary btn-block" asp-controller="Usuario" asp-action="Index" role="button">Voltar</a>
  </div>
</form>

