@using PSF.Dominio.Entities;

@model EditarEsfViewModel;

<form asp-action="EditarConfirmar" asp-controller="Esf" method="POST" class="row g-3 needs-validation">

    <input asp-for="EsfId" type="hidden" />


    <div class="col-12">
        <label for="inputAddress" class="form-label">Nome</label>
        <input asp-for="Nome" type="text" class="form-control" placeholder="ESF João Ribeiro" id="validationCustom01" required>
        @Html.ValidationMessageFor(x => x.Nome)
    </div>

    <div class="col-12">
        <label for="inputAddress" class="form-label">Rua</label>
        <input asp-for="Enderecos.Rua" type="text" class="form-control" id="inputAddress" placeholder="Dom Pedro II">
        @Html.ValidationMessageFor(x => x.Enderecos.Rua)
    </div>

    <div class="col-12">
        <label for="inputAddress2" class="form-label">Bairro</label>
        <input asp-for="Enderecos.Bairro" type="text" class="form-control" id="inputAddress2" placeholder="São Geraldo">
        @Html.ValidationMessageFor(x => x.Enderecos.Bairro)
    </div>

    <div class="col-md-2">
        <label for="validationCustom01" class="form-label">Numero</label>
        <input type="number" asp-for="Enderecos.Numero" class="form-control" id="validationCustom01" required>
        @Html.ValidationMessageFor(x => x.Enderecos.Numero)
        <div class="valid-feedback">

            Bom!
        </div>
    </div>

    <div class="col-md-6">
        <label for="validationCustom04" class="form-label">Estado</label>
        <select asp-for="Enderecos.EstadoId" asp-items="@ViewBag.Estados" class="form-select" id="Estado" required>
            <option value="">Selecione o estado...</option>
            @Html.ValidationMessageFor(x => x.Enderecos.EstadoId)
        </select>
        <div class="invalid-feedback">
            Por favor, selecione um estado válido.
        </div>
    </div>

    <div class="col-md-6">
        <label for="validationCustom05" class="form-label">Cidade</label>
        <select asp-for="Enderecos.CidadeId" asp-items="@ViewBag.Cidades" class="form-select" id="Cidade" required>
            <option value="">Selecione a cidade...</option>
            @Html.ValidationMessageFor(x => x.Enderecos.CidadeId)
        </select>
        <div class="invalid-feedback">
            Por favor, selecione uma cidade.
        </div>
    </div>

    <div class="col-md-2">
        <label for="inputZip" class="form-label">CEP</label>
        <input asp-for="Enderecos.Cep" type="text" class="form-control" id="inputZip">
        @Html.ValidationMessageFor(x => x.Enderecos.Cep)
    </div>

    <div class="col-md-6">
        <select asp-for="Status" class="form-select form-select-sm" aria-label="Small select example">
            <option selected>Status do Esf</option>
            <option value="true">Ativar</option>
            <option value="false">Desativar</option>
        </select>
    </div>


    <div class="col-12">
        <button class="btn btn-primary" type="submit">Confirmar Edição</button>
        <a class="btn btn-secondary btn-block" asp-controller="Esf" asp-action="Index" role="button">Voltar</a>
    </div>
</form>
@section Scripts {

    <script>
        $("#Estado").on("change", function () {
            const estadoId = $(this).val();

            $.ajax({
                url: '@Url.Action("GetCidades", "Cidade")',  // Certifique-se de que está gerando a URL correta
                type: 'GET',
                dataType: 'json',  // Indicando que estamos esperando dados JSON
                contentType: 'application/json; charset=utf-8',  // Indicando o tipo de conteúdo enviado
                data: { estadoId: estadoId },
                success: function (cidades) {
                    $("#Cidade").empty();

                    $.each(cidades, function (index, cidade) {
                        $("#Cidade").append('<option value="' + cidade.cidadeId + '">' + cidade.nome + '</option>');
                    });
                },
                error: function (error) {
                    console.error('Erro ao buscar cidades: ', error);
                }
            });
        });


    </script>

}