@using PSF.Dominio.ValueObjects;
@model IMAPViewModel
<div>
    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
            @Html.Raw(TempData["MensagemSucesso"])
        </div>
    }
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
            @Html.Raw(TempData["MensagemErro"])
        </div>
    }

    <div class="container mt-5">
        <div class="row">
            <div class="d-grid gap-2 d-md-block">
                <h1 class="titulo-bonitao">IMAB - Indicadores Monitorados pela Atenção Básica</h1>

                <form id="eventoForm" asp-action="IMAB_Confirmar" method="post">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="selectAno">Ano</label>
                            <select asp-for="Ano" class="form-control" id="selectAno" name="Ano">
                                @for (int i = DateTime.Now.Year; i <= DateTime.Now.Year + 10; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="selectMes">Mês</label>
                            <select asp-for="Mes" class="form-control" id="selectMes" name="Mes">
                                @for (int i = 1; i <= 12; i++)
                                {
                                    <option value="@i">@System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(i)</option>
                                }
                            </select>
                        </div>
                    </div>

    <br />
    <table class="table table-sm" id="table-IMAP">
        <thead class="br-list horizontal" role="list" color="blue">
            <tr class="header">
                <div class="title">
                    <h4>Cadastrar </h4>
                </div>
                <br />
                <th class="br-item" role="listitem"><b>Tipo</b></th>
                <th  class="br-item" role="listitem"><b>Indicadores</b></th>
                <th class="br-item" role="listitem">
                    <b>Valor Total</b>
                    <span class="br-divider"></span>
            </tr>
        </thead>
        <tbody class="header">
            @foreach (var item in Model.Indicadores)
            {
                <tr tr class="br-list horizontal">
                    <td style="padding-right:40px;" class="br-item" role="listitem">@item.IndicadorTipo</td>
                    <td class="br-item" role="listitem">@item.Titulo</td>
                    <td style="padding:10px;">
                         <input style="width:70px; height:30px;"  type="number" class="" inputmode="numeric" data-id="valor" data-indicador-id="@item.IndicadorId">
                    </td>
                </tr>
            }
        </tbody>

                    </table>
                    <br />
                    <button type="button" id="button-IMAP-enviar" class="btn btn-success">Registrar</button>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts 
{
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var today = new Date();
            var currentYear = today.getFullYear();

            // Define o valor do select para o ano atual
            document.getElementById('selectAno').value = currentYear;
        });
        document.addEventListener('DOMContentLoaded', function () {
            var today = new Date();
            var currentMonth = (today.getMonth() + 1).toString().padStart(2, '0');

            // Define o valor do select para o mês atual
            document.getElementById('selectMes').value = currentMonth;
        });
        $("#button-IMAP-enviar").on("click", function () {
            var entidade = new Array();

            $("#table-IMAP tbody tr").each(function () {
                const $self = $(this);
                const $input = $self.find("[data-id='valor']");

                entidade.push({
                    IndicadorId: $input.data("indicador-id"),
                    Valor: $input.val()
                });
            });

            const lastRow = entidade[entidade.length - 1];

            fetch("/Evento/IMAB_Confirmar", {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(entidade)
            })
                .then(response => response.json())
                .then(data => {
                    // Exibir mensagem na mesma página
                    $("#mensagem-container").html(`<div class="${data.success ? 'alert alert-success' : 'alert alert-danger'}" role="alert">${data.message}</div>`);

                    // Log para o console
                    console.log('Resposta do servidor:', data);

                    // Recarregar a página
                    window.location.reload();  // Alterado de location.reload() para window.location.reload()
                })

                .catch(error => {
                    console.error('Erro na solicitação AJAX:', error);

                    // Exibir mensagem de erro na mesma página
                    $("#mensagem-container").html(`<div class="alert alert-danger" role="alert">Erro na solicitação AJAX: ${error}</div>`);

                    // Recarregar a página (opcional, dependendo do comportamento desejado)
                    // location.reload();
                });
        });

        $("#button-IMAP-enviar").on("click", function () {
            var entidade = new Array();

            var selectMes = $("#selectMes").val();
            var selectAno = $("#selectAno").val();

            $("#table-IMAP tbody tr").each(function () {
                const $self = $(this);
                const $input = $self.find("[data-id='valor']");

                entidade.push({
                    IndicadorId: $input.data("indicador-id"),
                    Valor: $input.val()
                });
            });

            fetch(`/Evento/IMAB_Confirmar?selectMes=${selectMes}&selectAno=${selectAno}`, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(entidade)
            });
        });

    </script>
    
}

